/* .account-table{
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
    border: 2px solid lightblue;
}

.account-table th{
    border-bottom: 2px solid lightblue;
    color: rgba(0, 0, 0, 0.651);
    padding: 10px 8px;
}
.account-table td{
    color: blue;
    padding: 8px 8px;
}

.control{
    border: none;
    display: flex;
    justify-content: space-evenly;
}

.control-buttons{
    padding: 10px 20px;
    outline: none;
    border: none;
}
.control-buttons.update{
    background-color: greenyellow;
}
.control-buttons.delete{
    background-color: lightblue;
} */